
{% extends 'base.html' %}
{% from 'common.html' import edit_field %}
{% if request.endpoint.endswith('edit') %}
  {% set title = 'Edit Comment' %} 
{% else %} 
  {% set title = 'Add Comment' %}
{% endif %} 

{% block title %}{{ title }}{% endblock title %}

{% block page_content %}
<div class="row">
  <div class="well offset2 span8">


{% if request.endpoint.endswith('edit') %}
  <div class="form-actions" align="right">
              
              <i> <span class="glyphicon glyphicon-trash"></span></i>
              <a class="delete-link" href="#" 
                        data-delete-url="{{ url_for('comment_delete', comment_id = comment_id) }}"
                        data-delete-next-url="{{ url_for('ticket', ticket_id=ticket_id)}}">Delete</a>

                        
  </div>
 {% endif %} 

  {% if request.endpoint.endswith('edit') %}
      <form method="post" action=" {{ url_for('comment_edit', comment_id=comment_id ) }} " class="form-horizontal"> 
    {% else %} 
      <form method="post" action=" {{ url_for('comment_create', ticket_id=ticket_id) }} " class="form-horizontal">
    {% endif %} 
 
     <legend>{{ title }}</legend>
     {{form.hidden_tag()}}

     
     {{ edit_field(form.body, rows="10", cols="50", class="span3", placeholder="comment") }} 

     {{ edit_field(form.email, size = "40", class="span3", placeholder="Email") }}

     <div class="form-actions">
       <button type="submit" class="btn btn-default" >Save</button>
       or <a class="btn btn-default"  href="{{ url_for('ticket', ticket_id=ticket_id) }}">Cancel</a>
     </div>
  </form>
  </div>
</div>
{% endblock page_content %}
