{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'common.html' import user_detail %}

{% block title %}
mCare Services Admin
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Admin</h1>
</div>


<table class="table">


     <thead>
     <tr>
      <th class="h4 col-md-6">User Admin</th>

     </tr>
     </thead>
<tbody>
    <tr>
    <td> <a class="btn btn-default" href="{{ url_for('user_list') }}"> User Admin</a></td>
      <td></td>
      <td></td> 
    </tr>
  </tbody>
  <thead>
    <tr>
      <th class="h4 col-md-6">Database</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        {{ dburl }}
      </td>
      <tr>
    <tr>
      <td> 
   
    	<a class="btn btn-default" href="{{ url_for('loaddb') }}"> Load Database Sample Data</a></td>
     
    </tr>
</tbody>


   

<thead>
     <tr>
      <th class="h4 col-md-4">Test Rest Services</th>

     </tr>
     </thead>
<tbody>
    <tr>
    <td> <a class="btn btn-default" href="{{ url_for('customer_list_json') }}"> Customers</a><a class="btn btn-default" href="{{ url_for('ticket_list_json') }}"> Tickets</a>  <a class="btn btn-default" href="{{ url_for('comment_list_json') }}"> Comments</a>
      <a class="btn btn-default" href="{{ url_for('follower_list_json') }}"> Followers</a><a class="btn btn-default" href="{{ url_for('user_list_json') }}"> Users</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}
